.post-gallery {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 30px;
}

.spacer {
    height: 50px;
}

.single {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    gap: 30px;
}

h1.title {
    color:yellow;
    font-size: 50px;
}

.stats {
    font-size: 15px;
}

h3 {
    color:white !important; 
    font-size: 25px;
}
.origin .speed .vote {
    margin-bottom: 20px;
    font-size: 10px;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.voteButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: #646cff;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
}
.voteButton:hover {
    border-color: black;
}

