body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  margin: auto;
  text-align: center;
  align-items: center;
  }

#root {
  width: 100%;
}
  

.icons {
  padding-right: 10px;
  width: 30px;
  height: 30px;
}

.whole-page{
  padding: 50px;
  background: black;
  color: white;
  text-align: center;
}

.content{
  position: relative ;
  padding: 20px;
}

.sidebar {
  position: fixed;
  background: #eee;
  position: fixed;
  font-size: larger;
  font-weight: bolder;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
}

img {
  width: 50%;
  height: 50%;
}



.btn.court-btn {
  margin: 5px;
  background-color: #fff; /* Default background */
  border: 1px solid #ddd; /* Default border */
}

.btn.court-btn:hover {
  opacity: 0.8;
}